* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80%;
  margin: auto;
}

.mynavbar {
  width: 100%;
  height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.search_area {
  position: relative;
  width: 504px;
}

#search {
  width: 95%;
  height: 48px;
  background-color: #f7f9fc;
  border: none;
  padding: 20px;
  border-radius: 6px;
  font-size: 14px;
}

.search_area i {
  position: absolute;
  top: 50%;
  right: 30px;
  color: #888;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper a{
  color: black;
  text-decoration: none;
}

.wrapper .btn {
  font-size: 14px;
}

.wrapper .icon {
  padding-right: 5px;
}
  
  .basket {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 10px;
  }
  
  .basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 20px;
    gap: 15px;
  }
  
  .basket-item .image {
    width: 150px;
    height: 100px;
    border-radius: 8px;
  }
  .basket-item .title,
  .basket-item .price,
  .basket-item .category {
    margin: 0;
    width: 200px;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .count-area {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #bda9a9;
    border-radius: 5px;
    padding: 0 5px;
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .total {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  .total p,
  .total h4 {
    margin: 0;
  }
  .count {
    font-size: 20px;
    margin: 0;
  }
  .minus-btn,
  .plus-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 25px;
  }
  .minus-btn:disabled {
    cursor: not-allowed;
  }
  
  .empty {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  #deleteAll {
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-bottom: 30px;
  }
  